.picture-div img {
  max-width: 100%;
  border-radius: 10%;
}

.fade-in-text {
  opacity: 1; /* make the text invisible */
  animation: fade-in 3s ease-in; /* animate the text over 1 second with an ease-in effect */
}
.personal-picture-div img {
  max-width: 60%;
  border-radius: 10%;
}

@media only screen and (max-width: 768px) {
  .personal-picture-div {
    margin-top: 48px;
  }
}
.project-img img {
  max-width: 100%;
}
/* keyframe animation for fading in the text */
@keyframes fade-in {
  0% {
    opacity: 0; /* start with 0% opacity */
  }
  100% {
    opacity: 1; /* end with 100% opacity */
  }
}
.nav-item {
  font-size: 30px;
}

.container-list-items li {
  list-style-type: none;
  font-weight: bold;
}

.item-card {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.3);
}
.logo-wrapper img {
  width: 30px;
  height: auto;
}
.container-list-items li i {
  font-size: 30px;
}
