.picture-div img {
  max-width: 65%;
  border-radius: 9%;
}

.personal-picture-div img {
  max-width: 60%;
  border-radius: 10%;
}

@media only screen and (max-width: 767px) {
  .p-5.d-flex-column {
    display: none;
  }
  .showcase-div{
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .personal-picture-div {
    margin-top: 48px;
  }
}
@media only screen and (max-width: 990px) {
  .personal-picture-div {
    margin-top: 48px;
  }
}
@media (max-width: 1024px) {
  .logo-wrapper {
    flex-wrap: wrap;
  }
}
@media (min-width: 2000px) {
  .container {
    display: flex;
    margin: 0;
    max-width: 100%;
    justify-content: center;
  }
  .picture-div img {
    max-width: 55%;
    border-radius: 9%;
  }
  .container-text{
    text-align: center;
    margin: 0px 520px 0px 520px;
    }
}

.showcase-div {
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
}



.flex-wrap {
 justify-content: center;
}

.project-img img {
  max-width: 100%;
}

.nav-item {
  font-size: 30px;
}

.container-list-items li {
  list-style-type: none;
  font-weight: bold;
}

.item-card {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.3);
}
.logo-wrapper img {
  width: 30px;
  height: auto;
}
.container-list-items li i {
  font-size: 30px;
}
/* COUNTER  */
.counter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}
.count {
  font-size: 2rem;
  font-weight: 900;
  color: #343a40;
  font-family: sans-serif;
}
.counterButton {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 9px;
  background-color: #0d6efd;
  font-weight: 700;
}
.counterButton:hover {
  background-color: #095cd8;
}
